* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg-primary: #121212;
    --text-primary: #f5f0e8;
    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 4rem;
    --space-3xl: 5rem;
}

main {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

section {
    width: 100%;
    height: 100%;
    padding: var(--space-md);
    border: 2px solid red;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}